<template>
    <button class="button" :class="{'button--bouncy' : bounce, 'button--big' : big }" @click="onButtonClick">
        <span class="button__text" :class="{ 'button--big' : big }" v-html="text" />
    </button>
</template>

<script>
export default {
    props: {
        text: {
            type: String,
            required: true
        },
        bounce: {
            type: Boolean,
            default: false
        },
        big: {
            type: Boolean,
            default: false
        }
    },
    methods: {
        onButtonClick() {
            this.$emit('click')
        }
    }
}
</script>

<style scoped>
.button {
    background-color: var(--secondary-color);
    position: relative;
    display: block;
    margin: .5rem;
    padding: 0;
    overflow: hidden;
    border-width: 0;
    outline: none;
    border-radius: 2px;
    box-shadow: 0 1px 4px rgba(0, 0, 0, .6);
    color: white;
    transition: background-color .3s;
}

@media only screen and (min-width: 600px){
    .button {
        margin: .5rem auto;
        min-width: 12rem;
    }
}

.button__text {
    display: block;
    padding: 12px 24px;
    font-weight: bold;
}

.button--big {
    font-size: 2rem;
    margin: 1rem auto;
}

.button:before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    display: block;
    width: 0;
    padding-top: 0;
    border-radius: 100%;
    background-color: rgba(236, 240, 241, .3);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.button:active:before {
  width: 120%;
  padding-top: 120%;
  transition: width .2s ease-out, padding-top .2s ease-out;
}


.button--bouncy {
    animation:bouncy 5s infinite linear;
    position:relative;
}

@keyframes bouncy {
    0%{top:0em}
    40%{top:0em}
    43%{top:-0.9em}
    46%{top:0em}
    48%{top:-0.4em}
    50%{top:0em}
    100%{top:0em;}
}
</style>