:root {
    --primary-color: #6200EE;
    --primary-color-variant: #3700B3;
    --secondary-color: #03DAC6;
    --secondary-color-variant: #018786;
    --error-color: #B00020;

    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

html, body {
    height: 100%;
    background-color: var(--primary-color);
}
