<template>
  <div id="app">
    <Header />
    <router-view/>
  </div>
</template>

<script>
import Header from '@/components/Header/Header'

export default {
  name: 'App',
  components: {
    Header
  }
}
</script>

<style>
#app {
  display: flex;
  justify-content: center;
  align-items: center;
}
</style>
